header[role="banner"] {
  align-items: start !important;
  max-width: 100px !important;
}

main[role="main"] {
  align-items: center !important;
}

@media all and (max-width: 987px) {
  main[role="main"] {
    align-items: flex-start !important;
  }
}

a[aria-label="Tweet"][role="button"] {
  position: fixed !important;
  right: 32px !important;
  bottom: 24px !important;
  max-width: 125px !important;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@media all and (max-width: 800px) {
  a[aria-label="Tweet"][role="button"] {
    opacity: 0 !important;
  }
}

header[role="banner"] > div > div > div {
  justify-content: center !important;
  z-index: auto !important;
}

nav[aria-label="Primary"][role="navigation"] > a > div > div:nth-child(2),
nav[aria-label="Primary"][role="navigation"] > div > div > div:nth-child(2) {
  opacity: 0 !important;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

nav[aria-label="Primary"][role="navigation"]:hover > a > div > div:nth-child(2),
nav[aria-label="Primary"][role="navigation"]:hover
  > div
  > div
  > div:nth-child(2) {
  opacity: 1 !important;
}

div[data-testid="primaryColumn"] {
  border-width: 0 !important;
}

div[data-testid="sidebarColumn"] {
  visibility: hidden !important;
  width: 120px !important;
}

div[aria-label="Timeline: Trending now"] {
  display: none;
}

form[aria-label="Search Twitter"][role="search"] {
  visibility: visible !important;
  position: fixed !important;
  max-width: 342px !important;
  top: 8px;
  right: 24px;
}

@media all and (max-width: 1300px) {
  form[aria-label="Search Twitter"][role="search"] {
    display: none !important;
  }
}

form[aria-label="Search Twitter"][role="search"] > div:nth-child(1) > div {
  background-color: transparent !important;
}

input[placeholder="Search Twitter"] {
  padding-left: 34px !important;
  margin-left: -24px !important;
  z-index: 1 !important;
  width: 150px !important;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

input[placeholder="Search Twitter"]::placeholder {
  font-size: 15px !important;
}

input[placeholder="Search Twitter"]:focus {
  padding-left: 10px !important;
  margin-left: 0 !important;
  width: 300px !important;
}

@media all and (max-width: 1265px) {
  div[data-testid="sidebarColumn"] {
    visibility: hidden !important;
    width: 100px !important;
  }

  form[aria-label="Search Twitter"][role="search"] {
    visibility: hidden !important;
  }
}

div[data-testid="primaryColumn"]
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > form[aria-label="Search Twitter"][role="search"] {
  visibility: visible !important;
  position: relative !important;
  max-width: 100% !important;
  top: auto;
  right: auto;
}

@media all and (max-width: 1265px) {
  div[data-testid="primaryColumn"]
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > form[aria-label="Search Twitter"][role="search"] {
    visibility: visible !important;
  }
}

@media all and (max-width: 1300px) {
  div[data-testid="primaryColumn"]
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > form[aria-label="Search Twitter"][role="search"] {
    display: block !important;
  }
}
